<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
       
        <title>notification-banner-wc test</title>
       
        <script src="../../../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
        <script src="../../../../node_modules/wct-browser-legacy/browser.js"></script>
       
        <script type="module" src="../../../../src/components/notification-banner-wc/index.js"></script>
    </head>

    <body>
        <test-fixture id="EmptyTestFixture">
            <template>
                <notification-banner-wc></notification-banner-wc>
            </template>
        </test-fixture>

        <test-fixture id="BasicUserNotificationFixture">
            <template>
                <notification-banner-wc>
                    <span slot="body">This is a basic user notification.</span>
                </notification-banner-wc>
            </template>
        </test-fixture>

        <script type="module">
     
            // This function ensures that after the element is returned
            // from the fixture on the next tick is when the tests run.
            // This allows time for setup tasks/processing to be done. 
            //
            function getFixture(id) {

                return new Promise((resolve) => {

                    const element = fixture(id);

                    setTimeout(() => {

                        resolve(element);                        
                    }, 0);
                });
            }

            describe('notification-banner-wc', () => {
       
                it('should have attribute of inactive set when there is no content.', () => {
       
                    const element = fixture('EmptyTestFixture');
                    const expected = 'inactive';
                    const actual = element.getAttribute('inactive');
       
                    expect(actual).to.equal(expected);
       
                });

                it('should not display anything visually when there is no content.', () => {

                    const element = fixture('EmptyTestFixture');
                    const expected = 'none';
                    const actual = getComputedStyle(element, null).display;

                    expect(actual).to.equal(expected);

                });

                it('should be able to display a user notification', () => {

                    return getFixture('BasicUserNotificationFixture').then((element) => {

                        const expected = 'active';
                        const actual = element.getAttribute('inactive');

                        expect(actual).to.equal(expected);
                    });
                });

                it('should be able to display a user notification visually', () => {

                    return getFixture('BasicUserNotificationFixture').then((element) => {

                        const expected = 'inline';
                        const actual = getComputedStyle(element.shadowRoot.querySelector('#body'), null).display;

                        expect(actual).to.equal(expected);
                    });
                });

                it('should be able to dismiss a notification');
                it('should not show a notification if it has been dismissed before');
                it('should be able to link the whole notification if only one link is found in the body');
                it('should not link the whole notification if no links are found in the body');
                it('should not link the whole notification is 2 or more links are found in the body');
                it('should be able to render a user supplied close button');
            });
        </script>
 
    </body>
</html>
