<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
       
        <title>notification-banner-wc test</title>
       
        <script src="../../../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
        <script src="../../../../node_modules/wct-browser-legacy/browser.js"></script>
       
        <script type="module" src="../../../../src/components/notification-banner-wc/index.js"></script>
    </head>

    <body>
        <test-fixture id="EmptyTestFixture">
            <template>
                <notification-banner-wc></notification-banner-wc>
            </template>
        </test-fixture>
       
        <script type="module">
       
            describe('notification-banner-wc', () => {
       
                it('should not display a notification if the body slot is empty', function xyz() {
       
                    const element = fixture('EmptyTestFixture');
                    const elementShadowRoot = element.shadowRoot;
                    const expected = '';
                    const actual = elementShadowRoot.querySelector('#body').textContent;
       
                    expect(actual).to.equal(expected);
       
                });
       
                it('should be able to display a user notification');
                it('should be able to dismiss a notification');
                it('should not show a notification if it has been dismissed before');
                it('should be able to link the whole notification if only one link is found in the body');
                it('should not link the whole notification if no links are found in the body');
                it('should not link the whole notification is 2 or more links are found in the body');
                it('should be able to render a user supplied close button');
            });
        </script>
 
    </body>
</html>
